@import '../../../styles/variable.scss', '../../../styles/mixin.scss';
.Brand{
    font-size: 24px;
    margin:0;
    span{ color:$main-color; }
}
.Authentication{
    @include justify-align(null, center);
    p{ margin-right:25px}
    button{ width:90px; background:$background-linear;}
}