@import '../../../styles/variable.scss', '../../../styles/mixin.scss';
.navbar{
    @include justify-align(space-between, center);
    width: 100%;
    position: relative;
    padding:10px $padding-content;
    .navbar__content{
        width: 20%;
        @include justify-align(space-between, null);
        li{ list-style: none;}
        .navbar__content__login{ display: none }
    }
    .navbar__authentication{
        @include justify-align(null, center);
        p{ margin-right:25px}
        button{ width:90px; background:$background-linear;}
    }
}

@media (max-width:768px){
    .navbar{ padding:10px 20px;}
    .navbar__content{
        @include absolute-top-left(64px, -100%);
        @include justify-align-direction(null, center);
        @include width-height(90%, 300px);
        background-color: white;
        border-radius: 10px;
        box-shadow: $box-shadow;
        .navbar__content__login{ display: block; }
    }
}
