@import '../../../../styles/mixin.scss';
.subscribe__form{
    width:70%;
    position: relative;
    margin-top:20px;
    input{
        width:100%;
        border-radius:5px;
        padding:20px 15px;
    }
    button{
        @include absolute-top-right(50%, 8px);
        transform: translateY(-50%);
    }
}

@media(max-width:768px){
    .subscribe__form{
        width:100%;
    }
}