@import '../../../../styles/mixin.scss', '../../../../styles/variable.scss';
.tagline h1{
    font-size:39px;
    width:80%;
    margin-top: $margin-top-content;
}
.tagline p{ color: $text-disabled; margin-top: 20px}
.searchJob{
    @include justify-align(null, center);
    margin-top: 20px;
    background:white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    @include width-height(max-content,80px);  
    padding:10px 20px;      
    border-radius:10px;
    .wrapperInput{
        position:relative;
        input{ padding-left:35px; height:100%; border:0; font-size:16px;}
    }
    svg{
        @include absolute-top-left(50%,5px);
        transform:translateY(-50%);
        color:$main-color;
        font-size:20px;
    }
    button{
        @include width-height(80px, 40px);
        background:$background-linear;
        font-size: 16px;
    }
}