@import '../../../styles/variable.scss', '../../../styles/mixin.scss';

.button{
    outline: 0;
    border:0;
    height: 30px;
    @include justify-align(center);
    color:white;
    padding: 0 5px;
    cursor: pointer;
    font-size: 18px;
    border-radius:5px;
    min-width: 44px;
    min-height: 44px;
}
.gradient{
    background: $background-linear;
}