@import '../../../styles/mixin.scss', '../../../styles/variable.scss';
.button{
    outline:0;
    border:0;
    height: 30px;
    @include justify-align(center);
    border-radius: 5px;
    color:white;
    font-weight:bold;
    cursor: pointer;
}
.gradient{
    background: $background-linear;
}