$main-color:#73a0f7;
$padding-content: 70px;
$margin-top-content:70px;
$text-disabled:#9c9c9c;
$orange-color:#FBBC09;
$background-linear:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(166,198,255,1) 0%, rgba(117,162,250,1) 100%);
$box-shadow:1px 1px 5px rgba(0, 0, 0, 0.2);
$font-size:26px;

